<!-- user's homepage after successfull sign in -->

<%- include("partials/header.ejs") %>


<!--Header Section-->
<div class="header-div"> 
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="/myaccount"><i class="fa-solid fa-bookmark"></i> BooKeeper</a>
          <button style="background-color: #FAA300;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="/myaccount">Home</a>
              <a class="nav-link" href="/signContact">Contact</a>
              <a class="nav-link" href="/signAbout">About</a>
            </div>

            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-regular fa-circle-user fa-lg"></i> My Account
              </a>
              <ul style="background-color: #FAA300;" class="dropdown-menu">
                <li><a class="dropdown-item" href="/manageAccount">Manage Account</a></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
              </ul>
            </div>

          </div>
        </div>
    </nav>

    <div class="background-img-overlay"></div>
      
    <div class="header-content">
        <h1 style=" width: 70%; text-align: center; font-size: 4rem;">Welcome <span style="color: #FAA300;"><% if(myBooks.length > 0){ %><%= myBooks[0].first_name %> <% }else{ %><%= myName %> <% } %></span></h1>
        <div class="header-buttons">
          <a href="/notes"><button type="button" class="btn btn-outline-warning">Add a Book <i class="fa-solid fa-pen"></i></button></a>
        </div>
    </div>
</div>

<!--Hero Section-->
<div class="starting-header">
  <div class="headline"><h1>My Books</h1></div> 
</div>

<hr>

<!--Post Section-->
<% for(let i = 0; i < myBooks.length; i++){ %>
<div class="book-shelf">
  <a href="/notes/<%= myBooks[i].book_id %>/views"><img class="book-img" src="https://covers.openlibrary.org/b/isbn/<%= myBooks[i].isbn %>-M.jpg?default=false" /></a>

  <div class="book-title">
    <h3><%= myBooks[i].title %></h3>
    <span><%= myBooks[i].author %></span><br>
    <span><%= myBooks[i].rating %>/5</span>
    <% for(let j = 0; j < myBooks[i].rating; j++){%> <span>⭐</span> <% } %>
  </div>

  <p class="book-paragraph"><%= myBooks[i].body.slice(0,200)+"...."%><a href="/notes/<%= myBooks[i].book_id %>/views">Read More</a></p>
</div>
<% } %>

    
<%- include("partials/footer.ejs") %>